*{
    margin: 0;
    padding: 0;
}

section{
    min-height: 1000px;
    background: url("img/It.jpg") center/cover no-repeat;  
}
.row{
    Color: White;
    text-align: left;
    margin-top: 30px;
    font-size: 20px;
}
#id1{ border: 1px #000 solid;
background-color: cyan;
color: #000;
width: 300px;
cursor: pointer;
padding: 10px;
font-size: 1.5em;
transition: color 1s, width 1s, background-color 1s;
}

#id1:hover {
    color: #FFFFFF;
    width: 350px;
    background-color: #880045;
}

#id2{ border: 1px #000 solid;
    background-color: orange;
    color: #000;
    width: 300px;
    cursor: pointer;
    padding: 10px;
    font-size: 1.5em;
    transition: color 1s, width 1s, background-color 1s;
    
    }
    
#id2:hover {
        color: #FFFFFF;
        width: 350px;
        background-color: red;
    }
#mailme{
    color:orangered;
    
}
.head{
    float: center;
    font-size: 30px;
    color:cyan;
}
.logo img{
    width: 180px;
    height: 180px;
    float: right;
    position : relative ; top: -40px;}
